body {
  background: #4d904d;
  text-align: center;
  color: white;
}

.cards {
  display: flex;
  justify-content: center;
}

.player {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 5px;
}

.player-left {
  width: 30%;
}

.player-center {
  width: 30%;
}

.player-right {
  width: 30%;
}

.player-info-blind {
  font-family: monospace;
  font-style: italic;
}

.player-turn {
  background: rgba(100, 255, 100, 0.50);
}

.player-fold {
  background: rgba(240, 75, 75, 0.5);
}


.suit-0{
  color: #3e950f !important;
}
.suit-1{
  color: #F38315 !important;;
}
.suit-2{
  color: #DB0023 !important;;
}
.suit-3{
  color: #2A14A1 !important;;
}


.card {
  color: black;
  box-shadow: 7px 0 9px #103d17;
  text-align: center;
  font-size: 22pt;
  border-radius: 10px;
  padding: 5px;
  background: #e3e3e3;
  width: 50px;
  height: 45px;
  margin: 10px;
}
