body {
  background: #4d904d;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
}

.player {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-left {
  color: white;
  width: 30%;
}

.player-center {
  width: 30%;
}

.player-right {
  width: 30%;
}


.player-turn {
  background: #57ef6d;
}

.player-fold {
  background: #ef5757;
}


.suit-0{
  color: #3e950f;
}
.suit-1{
  color: #F38315;
}
.suit-2{
  color: #DB0023;
}
.suit-3{
  color: #2A14A1;
}


.card {
  box-shadow: 7px 0px 9px #103d17;
  text-align: center;
  font-size: 22pt;
  border-radius: 10px;
  padding: 5px;
  background: #e3e3e3;
  width: 50px;
  height: 45px;
  margin: 10px;
}
